.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  color: #fff;
  font-weight: 700;
  font-size: 28px;
}

.postlist {
  margin-top: 0.01%;
  padding-top: 30px;
}
